<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056198279796-3bgjm1091fbcfj9ccuoem31co954avq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056198279796-3bgjm1091fbcfj9ccuoem31co954avq0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056198279796-53vuc5i4614snd62na99r9tcjdh71tmd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6OCRNdMzpe9Rfma8zeScxFXB0uZwOTI8</string>
	<key>GCM_SENDER_ID</key>
	<string>1056198279796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doniacompany.doniaservices</string>
	<key>PROJECT_ID</key>
	<string>donia-services</string>
	<key>STORAGE_BUCKET</key>
	<string>donia-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056198279796:ios:3f51b80bc64352a2e78721</string>
</dict>
</plist>