<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056198279796-ncaiebm9082t82oeo9e0cno0copui7s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056198279796-ncaiebm9082t82oeo9e0cno0copui7s9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056198279796-1ehv5prn6u40ghpaqh8d6b0qbljdpmi2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6OCRNdMzpe9Rfma8zeScxFXB0uZwOTI8</string>
	<key>GCM_SENDER_ID</key>
	<string>1056198279796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontDs</string>
	<key>PROJECT_ID</key>
	<string>donia-services</string>
	<key>STORAGE_BUCKET</key>
	<string>donia-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056198279796:ios:a1a89774414ccdc2e78721</string>
</dict>
</plist>